.container-fluid{
    padding: 0% 0% 15%;
}

.first-box{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentation{
    top: 0;
    left: 0;
    font-size: 2rem;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

h2 > span{
    background-color: black;
    color: #5de334;
    font-family: monospace;

}

.nav-item{
    padding: 0 18px;
    font-size: 1.8rem;
}


.skill-area{
    font-family: 'Courier Prime', monospace;
}

.about-layout-type{
    background-color: blue;
    height: 10px;
    width: 350px;
}
